---
layout: layouts/base.njk
title: Sabandijobs version Jamstack
---

<h1>Sabandijobs version Jamstack</h1>

<p>Esto que ves es una demostración de lo que puede hacerse con un canal de telegram público</p>
<p><a href="https://cocostack.com">Apúntate al newsletter CocoStack</a> para estar al tanto de todo lo relacionado con el Jamstack en castellano</p>

<hr/>

<ul class="listing">
{% for item in telegram.posts %}
  <li>
    <h3><a href="/posts/{{ item.path }}">{{ item.title }}</a></h3>
    <p class="meta">Publicado en {{ item.pubDate }}</p>
  </li>
 {% endfor %}
</ul>
